#big{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: url('2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    align-content: center;
    color: white
}
h1{
    color: red;
}
h3{
    font-family: 'Algerian', Times, serif;
}
ul{
    border: none;
    padding: 0px;
}
div{
    background-color: hsla(0, 7%, 49%, 0.37);
    color: white;
    position: relative;
    top: 3%;
    padding-bottom: 0.01%;
    border: none;
}
button{
    height: 30px;
    width: 100px;
    background-color: darkred;
    border-radius: 20px;
}
button:hover{
    background-color: hsla(0, 100%, 27%, 0.788);
}
button:active{
    background-color: green;
}
#logo{
    width: 100px;
    height: 50px;
}
img{
    height: 400px;
    width: 200px;
    padding: 10px;
}